@use '../../styles/mixins/common' as c;
@use '../../styles/mixins/typography' as t;

.colorsContainer {
  section {
    @include c.flex(column, center, flex-start);
    @include c.colGap(16px);

    /* stylelint-disable-next-line no-duplicate-selectors */
    & {
      margin-bottom: 24px;
      padding: 0 16px;
    }

    .sectionHeading {
      @include t.typography(h1, bold, var(--background-primary-900));
    }

    .themeHeader {
      @include c.flex(row, space-between, center);
      @include c.rowGap(16px);
      @include t.typography(h1, bold, var(--background-primary-900));

      /* stylelint-disable-next-line no-duplicate-selectors */
      & {
        width: 100%;
      }

      * {
        width: 50%;
      }
    }

    .colorsRow {
      @include c.flex(row, space-between, center);
      @include c.rowGap(16px);

      /* stylelint-disable-next-line no-duplicate-selectors */
      & {
        width: 100%;
      }

      .colorCard {
        @include c.flex(column, flex-start, flex-start);
        @include c.colGap(4px);

        /* stylelint-disable-next-line no-duplicate-selectors */
        & {
          overflow: hidden;

          width: 50%;
          height: 200px;
          padding: 8px;

          border: 1px solid var(--background-primary-900);
          border-radius: 4px;
        }

        .colorName {
          @include t.typography(h1, bold, var(--background-primary-900));
        }

        .colorCode {
          @include t.typography(h1, bold, var(--background-primary-900));
        }

        .whiteText {
          color: var(--background-primary-50) !important;
        }
      }
    }
  }
}
