@use '../../styles/mixins/common' as c;
@use '../../styles/mixins/typography' as t;

.iconsListContainer {
  @include c.flex(column, flex-start, flex-start);
  @include c.colGap(1rem);

  /* stylelint-disable-next-line no-duplicate-selectors */
  & {
    padding: 0 1rem 1rem;
  }

  .iconSection {
    @include c.flex(column, flex-start, flex-start);
    @include c.colGap(0.5rem);

    /* stylelint-disable-next-line no-duplicate-selectors */
    & {
      width: 100%;
    }

    .sectionName {
      @include t.typography(h1, bold, var(--text-dark-high-emphasis));
    }

    .icons {
      display: grid;
      grid-auto-rows: 3rem;
      grid-template-columns: repeat(auto-fill, 3rem);
      gap: 0.5rem;
      justify-content: space-between;

      width: 100%;

      .iconBox {
        @include c.flex(column, center, center);
        @include c.colGap(0.25rem);

        /* stylelint-disable-next-line no-duplicate-selectors */
        & {
          cursor: pointer;

          border: 0.0625rem solid var(--backgrounds-primary-900);
          border-bottom: none;
          border-radius: 0.3125rem;

          background: var(--background-primary-50);
          box-shadow:
            0 0.0625rem 0.1875rem 0 var(--background-primary-900),
            0 0.0625rem 0.125rem 0 var(--background-primary-900);
        }
      }
    }
  }

  .modal {
    @include c.position(fixed, 0, 0, 0, 0);

    /* stylelint-disable-next-line no-duplicate-selectors */
    & {
      margin: 0;
    }

    .backdrop {
      @include c.position(absolute, 0, 0, 0, 0);

      /* stylelint-disable-next-line no-duplicate-selectors */
      & {
        background: var(--background-primary-50);
      }
    }

    .content {
      @include c.flex(column, flex-start, flex-start);
      @include c.colGap(1rem);
      @include c.position(absolute, 45%, null, null, 50%);

      /* stylelint-disable-next-line no-duplicate-selectors */
      & {
        transform: translate(-50%, -50%);

        overflow-y: auto;

        width: 90%;
        max-height: 90%;
        padding: 1rem;
        border-radius: 0.5rem;

        background: var(--background-primary-100);
      }

      .titleSection {
        @include c.flex(row, space-between, center);
        @include c.rowGap(0.25rem);

        /* stylelint-disable-next-line no-duplicate-selectors */
        & {
          width: 100%;
        }

        .iconName {
          @include t.typography(h1, bold, var(--background-primary-900));
          @include c.ellipsis;
        }

        .dismissIcon {
          cursor: pointer;
          color: var(--background-primary-900);

          &,
          & > * {
            width: 2rem;
            height: 2rem;
          }
        }
      }

      .codeSection {
        @include c.flex(column, flex-start, flex-start);
        @include c.colGap(0.5rem);

        /* stylelint-disable-next-line no-duplicate-selectors */
        & {
          position: relative;
          width: 100%;
        }

        .code {
          @include t.typography(h1, 700, var(--background-primary-900));

          /* stylelint-disable-next-line no-duplicate-selectors */
          & {
            overflow: hidden;

            width: 100%;
            max-width: 100%;
            padding: 0.5rem;
            border-radius: 0.25rem;

            word-break: break-word;

            background: var(--background-primary-100);
          }
        }

        .copyIcon {
          @include c.position(absolute, null, 0, 0, null);

          /* stylelint-disable-next-line no-duplicate-selectors */
          & {
            cursor: pointer;
            color: var(--background-primary-900);
          }

          &:active {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
